{% load static %}
<!DOCTYPE html>
<html lang="id" data-theme="corporate">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantri Duit</title>
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body class="bg-slate-50 min-h-screen flex flex-col font-sans text-slate-800">

    {% include 'partials/navbar.html' %}

    <main class="grow container mx-auto px-4 py-6 max-w-md">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer footer-center p-4 text-base-content">
        <aside>
            <p class="text-xs text-slate-400">Copyright © 2025 - Tim Mantri Duit</p>
        </aside>
    </footer>

</body>

</html>