@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-outfit: 'Outfit', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

    --color-primary-teal: #007e6e;
}

#sidebar[data-collapsed="true"] .sidebar-text {
    display: none;
}

#sidebar[data-collapsed="true"] .sidebar-header {
    position: relative;
}

#sidebar[data-collapsed="true"] .sidebar-toggle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#sidebar[data-collapsed="true"] .logo-container {
    display: none;
}

#sidebar[data-collapsed="true"] .sidebar-footer {
    padding: 1rem;
}

#sidebar[data-collapsed="true"] .logout-btn {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    gap: 0;
}

#sidebar[data-collapsed="true"] .logout-btn svg {
    transform: none !important;
}
